.banner-principal-decorativo
  &-1
    animation: float1 3.4s ease-in-out infinite alternate
    position: absolute
    top: 13%
    right: 20%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 32%
    right: 82%
  &-3
    animation: float1 3.1s ease-in-out infinite alternate
    position: absolute
    top: 72%
    right: 67%
  &-4
    animation: float1 3.1s ease-in-out infinite alternate
    position: absolute
    top: 62%
    right: 3%
@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)

.banner-interno__fondo    
  background-image: url("../assets/curso/portada/mini-portada.png") !important
  background-repeat: no-repeat
.fa-ul
  margin-left: 0 !important
  li
    display: flex !important
    &:before
      position: relative
      margin-right: 7px
      font-size: 1.4rem        
.lista-ul--color.color-primario li > i:first-of-type  
  color: $color-primario
.lista-ul--color.color-secundario li > i:first-of-type  
  color: $color-secundario       
.bg-color-acento-contenido
  background-color: $color-acento-contenido
.tarjeta--boton 
  border-radius: 20px
  background-color: #D6F1F4
.cajon.color-acento-contenido 
  background-color: #D6F1F4
.acordion__accion__btn--a 
  background-color: #9C00CB
  box-shadow: 0px 3px 5px 0px rgba(17, 30, 97, 0.3)
.fa-minus:before 
  content: "\f068"
  color: #ffffff
.fa-plus:before 
  content: "\f067"
  color: #ffffff
.fa-check:before 
  content: "\f058"
.lista-ul--color li > i:first-of-type
  color: #33b9cb
.size
  border-radius: 20px
  background-color: #D6F1F4
  height: 300px
.size1
  border-radius: 20px
  background-color: #D6F1F4
  height: 200px
.size2
  border-radius: 20px
  background-color: #D6F1F4
  height: 240px
.size3
  border-radius: 20px
  background-color: #FCF9E8
  height: 240px
.lista-ol--cuadro__vineta 
  background-color: #F8D348
  color: #212529
.bloque-texto-f.color-acento-contenido:before
  background-color: #D6F1F4
.img-bloque
  width: 30.5%
  position: relative
  top: 20px
  margin: auto
.bgc-slider
  background-image: url("../assets/curso/temas/t5/fondo.png")
  background-position: center
  background-size: 100% 100%
  border-radius: 30px
.slyder-a__btn--sigt, .slyder-a__btn--atrs
  background-color: #9c00cb
.p-3.pb-0.p-md-4.pb-md-0.mb-3.tarjeta.bg7.acordion__activo
  background-color: #ADE3EA
.slyder-a__bullets__item--active 
  background-color: #f8d348
  border-color: #f8d348
  opacity: 1
.slyder-a__bullets__item
  width: 15px
  height: 15px
  background-color: #f8d34894
.bg1
  background-color: #D6F1F4 
.bg2
  background-color: #FEE9E9 
.bg3
  background-color: #D6F1F4 
  border-radius: 30px
.bg4
  background-color: #F5F9F7 
.bg5
  background-color: #FBB5B6
.bg6
  background-color:#FFEED2
.bg7
  background-color:#FDDADB
.bg8
  background-color:#F6F0CA
.bg9
  background-color:#FDDADB
  border-radius: 30px
.bg10
  background-color: #33B9CB
.bg11
  background-color: #CCE2DA
.bgtitulo11
  background-color: #F8D348
.bgtitulo12
  background-color: #FDDADB
  
.bgtitulo1
  width: fit-content
  background-color: #FCEDB6 
.bgtitulo2
  width: fit-content
  background-color: #FCEDB6 
  border-radius: 30px
.bgtitulo3
  width: fit-content
  background-color: #FFFFFF 
.tarj-slider
  background-color: #f8f9fa
.slyder-f__btn i
  background-color: #9C00CB
  color: #ffff
  font-size: 1.5rem
  min-width: 50px
  max-width: 50px
  min-height: 50px
  max-height: 50px
  flex: auto
  border-radius: 50%
  display: flex
  justify-content: center
  align-items: center
.slyder-f__btn.pe-3
  margin-right: 1rem
  padding-right: 0 !important

.slyder-f__btn.ps-3
  margin-left: 1rem
  padding-left: 0 !important
.bgc-1
  //background-image: url("../assets/curso/temas/t1/bgc1.png")
  background-position: center
  background-size: 100% 100%
  background-repeat: no-repeat
  margin-inline: -3.4rem
  border-radius: 30px
  @media screen and (max-width: 992px)
    margin-inline: -3rem  
    background-size: cover 
  @media screen and (max-width: 767px)
    margin-inline: -1.4rem  
    background-size: cover 


.subt
  position: relative
  width: fit-content
  &::before
    content: ''
    position: absolute
    background-color: #F8D348
    border-radius: 50px
    height: 60%
    width: 100%
    top: 50%
    transform: translateY(-50%)
    z-index: 0
  img, h3
    z-index: 999 
    position: relative 


// TARJETA HOVER    
.nav-holder2
  display: inline-block
  overflow: hidden
  position: relative
  border-radius: 25px
  -webkit-transform: translateZ(0)
  -moz-transform: translateZ(0)
  transform: translateZ(0)
.nav-holder2 *, .nav-holder2 *:before, .nav-holder2 *:after
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  -webkit-transition: all 0.45s ease
  -moz-transition: all 0.45s ease
  transition: all 0.45s ease
.nav-holder2:before
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  content: ''
  background-color: #1F6F7A
  opacity: 1
  z-index: 888
  -webkit-transition: all 0.45s ease
  -moz-transition: all 0.45s ease
  -ms-transition: all 0.45s ease
  transition: all 0.45s ease
  -webkit-transform: translateY(80%)
  -moz-transform: translateY(80%)
  transform: translateY(80%)
.nav-holder2:hover:before
  -webkit-transform: translateY(20%)
  -moz-transform: translateY(20%)
  transform: translateY(20%)
  opacity: 1
  -webkit-transition-delay: 0.1s
  -moz-transition-delay: 0.1s
  transition-delay: 0.1s
  background-color: #ADE3EA
.nav-holder2
  .text
    position: absolute
    top: 70%
    bottom: 0px
    left: 0px
    right: 0px
    z-index: 999
    bottom: 0
    padding: 1em
  img
    backface-visibility: hidden
    max-width: 100%
    vertical-align: top
    z-index: 0
  p
    margin: 0
    opacity: 0
    line-height: 1.2em
.nav-holder2 h4
  margin: 0
  opacity: 1
  color: #FFF
.nav-holder2:hover
  .text
    top: 10%
  h4, p
    opacity: 1
    color: $color-sistema-texto
@media (max-width: $bp-max-xs)    
  .nav-holder2 .text
    top: 75%
  .nav-holder2:hover .text 
    top: 24%
  .nav-holder2:hover:before
    -webkit-transform: translateY(30%)
    -moz-transform: translateY(30%)
    transform: translateY(30%)